<%- include('partials/header.ejs') %>

     <body>
          <%- include('partials/navbar.ejs') %>

               <div class="container">
                    <hr>
                    <h1>
                         <%= pergunta.titulo%>
                    </h1>
                    <p>
                         <%= pergunta.description%>
                    </p>
                    <hr>
                    <form action="/responder" method="post">
                         <h3>Responda</h3>
                         <label for="corpo">Resposta:</label>
                         <textarea name="corpo" id="corpo" class="form-control" placeholder="Digite sua resposta"></textarea><br>
                         <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
                         <button class="btn btn-primary">Responder</button>
                    </form>
               </div>
               <%- include('partials/footer.ejs') %>

     </body>

     </html>